@model IEnumerable<LanchesMac.Models.Lanche>

@{
    ViewData["Title"] = "List";
}

<div>
    <h2>Todos os Lanches</h2>
</div>

@foreach (var lanche in Model)
{
    <div>
        <h4>@lanche.Nome</h4>
        <p><img src="@lanche.ImagemUrl"/></p>
        <p>@lanche.Preco.ToString("C")</p>
    </div>
}
